<div>

  <br>

  <mat-card>
    <section class="mat-typography">
      <h3>
        User Registration
      </h3>
    </section>
    <mat-divider></mat-divider>
    <br>

    <form [formGroup] = "createForm" class = "create-form">
      <mat-form-field class="field-full-width">
        <input matInput placeholder="Name" formControlName="name" #name>
      </mat-form-field>

      <mat-form-field class="field-full-width">
          <input matInput placeholder="Email ID" formControlName="email" #email>
      </mat-form-field>

      <mat-form-field class="field-full-width">
          <input matInput placeholder="Contact Number" formControlName="contactno" #contactno>
      </mat-form-field>

      <mat-form-field class="field-full-width">
          <input matInput placeholder="Username" formControlName="username" #username>
      </mat-form-field>

      <mat-form-field class="field-full-width">
          <input matInput placeholder="Password" formControlName="password" #password>
      </mat-form-field>

      <mat-divider></mat-divider>
      <br><br>
      <button mat-raised-button color="accent" routerLink="/list">Back</button>
      <button type="submit" (click)="registerUser(name.value, email.value, contactno.value, username.value, password.value)" [disabled]="createForm.pristine || createForm.invalid" mat-raised-button color="Primary">Register</button>
    </form>
  
  </mat-card>
</div>
