/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background: url('./images/homepage.jpg')100% 100%!important;
    background-attachment:fixed!important;
    background-repeat: no-repeat!important;
    background-position: top left!important;

}

