
<div class = "container">
    <div class = "innercontainer">
        
    <img  class = "image" width="350" height = "600"  src = "../../../../../assets/images/africa.jpg">

    <span class = "heading"><b>Johannesburg-Cape Town-Bulawayo-Livingstone</b></span>
<br>
    <span class = "price"> $999 - $1099</span>
    <br>
    <span class = "spandates">
    <label>Trip Dates</label>
          <select class = "tripdates">
         <option >Choose an Option</option>
          <option value="1">Dec 25 - Dec 30</option>
          <option value="2">Jan 2 - Jan 7</option>
          <option value="3">Jan 10 - Jan 15</option>
          <option value="4">Feb 1 - Feb 6</option>
          <option value="5">Feb 9 - Feb 14</option>
    
          </select>
        </span>
          <br>
          <span class = "spanrooms">
          <label>Room Config</label>
          <select class = "roomconfig">
         <option >Choose an Option</option>
          <option value="1">Quad Sharing</option>
          <option value="2">Triple Sharing</option>
          <option value="3">Double Sharing</option>
         
        
          </select>
        </span>
          <br>
          <span class = "spantravel">
          <label>Travel</label>
          <select class = "travel">
         <option >Choose an Option</option>
          <option value="1">Ac</option>
          <option value="2">Self</option>
        

          </select>
        </span>
          <br>
          <span class = "addtocarttext">
              <input type = "number" placeholder="0">
          </span>
          <span class = "addtocart">
              <button> Add to Cart </button>

          </span>
   


</div>

</div>