
.heading {
    font-size: 20px;
    padding: 30px;
    float: left;
   
}
.image {
    float: left;
    font-size: 20px;
    padding: 30px;
 

}
.price {
    float: left;
    font-size: 20px;
    padding: 30px;
   

}
.spandates {
    float: left;
    font-size: 20px;
    padding: 30px;
   

}
.spanrooms {
    float: left;
    font-size: 20px;
    padding: 30px;
   

}

.spantravel {
    float: left;
    font-size: 20px;
    padding: 30px;
   

}
.addtocarttext {
    float: left;
    font-size: 20px;
    padding: 30px;
   

}
.addtocart {
    float: left;
    font-size: 20px;
    padding: 30px;
   

}