<div class = "container">
    <h2 class = "heading"> AWESOME AFRICA TRIP!!!</h2>
    <div class = "innercontainer">
    
    
       <table id="customers">
        <tr>
          <th> <h4>Days</h4></th>
          <th> <h4>Destination</h4></th>
        </tr>
        <tr>
          <td><h4>Day 1</h4></td>
          <td> <h4>Journey Begins</h4></td>
          
        </tr>
        <tr>
          <td><h4>Day 2</h4></td>
          <td><h4> Johannesburg  </h4></td>
        
        </tr>
        <tr>
          <td><h4>Day 3</h4></td>
          <td><h4>CAPE TOWN  </h4></td>
         
        </tr>
        <tr>
          <td><h4>Day 4</h4></td>
          <td><h4> KAPAMA GAME RESERVE</h4></td>
      
        </tr>
        <tr>
          <td><h4>Day 5</h4></td>
          <td><h4>Bulawayo
              </h4></td>
              
        </tr>
        <tr>
          <td><h4>Day 6</h4></td>
          <td>
              <h4> Livingstone </h4></td>
        
        </tr>
      
       
      </table>
    
    
    </div>
    <a  href="/package/africa/checkavailability" target="_blank">
    <span class = "check"> Check Availability</span>
    </a>
    </div>