<br>
<div class="container">
<div class="grid-container">
  
  <div class="grid-item">

  <a class="mk-image-link" href="/package/europe" target="_blank">
  
    <img width="300" height = "300"  src = "../../../assets/images/europe.jpg">
    <span class = "vieweurodetails">View Details and Book</span>
  </a>
    <span class = "triptext"> Trip to Europe </span>



  </div>
  <div class="grid-item">
      <a class="mk-image-link" href="/package/australia" target="_blank">
  
        <img width="300" height = "300"  src = "../../../assets/images/australia.jpg">
        <span class = "viewausdetails">View Details and Book</span>
      </a>
      <br>
        <span class = "triptext"> Trip to Australia  </span>


  </div>
  <div class="grid-item">
      <a class="mk-image-link" href="/package/africa" target="_blank">
  
        <img width="300" height = "300"  src = "../../../assets/images/africa.jpg">
        <span class = "viewafricadetails">View Details and Book</span>
      </a>
      <br>
        <span class = "triptext"> Trip to Africa  </span>
  </div>  
  <div class="grid-item">
      <a class="mk-image-link" href="/package/asia" target="_blank">
  
        <img width="300" height = "300"  src = "../../../assets/images/asia.jpg">
        <span class = "viewasiadetails">View Details and Book</span>
      </a>
      <br>
        <span class = "triptext"> Trip to Asia  </span>


  </div>
  <div class="grid-item"><a class="mk-image-link" href="/package/southamerica" target="_blank">
  
    <img width="300" height = "300"  src = "../../../assets/images/southamerica.jpeg">
    <span class = "viewsouthamericadetails">View Details and Book</span>
  </a>
  <br>
    <span class = "triptext"> Trip to South America </span>
  </div>

  <div class="grid-item">
      <a class="mk-image-link" href="/package/northamerica" target="_blank">
  
        <img width="300" height = "300"  src = "../../../assets/images/northamerica.jpg">
        <span class = "viewnorthamericadetails">View Details and Book</span>
      </a>
      <br>
        <span class = "triptext"> Trip to North America </span>
  </div>  
  
 
</div>



<h4> Still Craving For More ?</h4>
<br> <br>

<button class = "customize"> Customize Your Trip</button>

</div>
