<div class = "container">
    <h2 class = "heading"> EPIC EUROPE TRIP!!!</h2>
    <div class = "innercontainer">
    
    
       <table id="customers">
        <tr>
          <th> <h4>Days</h4></th>
          <th> <h4>Destination</h4></th>
        </tr>
        <tr>
          <td><h4>Day 1</h4></td>
          <td> <h4>Journey Begins</h4></td>
          
        </tr>
        <tr>
          <td><h4>Day 2</h4></td>
          <td><h4> Hola Mexico City </h4></td>
        
        </tr>
        <tr>
          <td><h4>Day 3</h4></td>
          <td><h4> Mexico City to Guanajuato  </h4></td>
         
        </tr>
        <tr>
          <td><h4>Day 4</h4></td>
          <td><h4> Adios  Mexico </h4></td>
      
        </tr>
        <tr>
          <td><h4>Day 5</h4></td>
          <td><h4> Aloha  Hawaii </h4></td>
      
        </tr>
        <tr>
          <td><h4>Day 6</h4></td>
          <td>
              <h4> Hello Alaska  </h4></td>
        
        </tr>
        <tr>
          <td><h4>Day 7</h4></td>
          <td><h4>Alaska to Vancouver  </h4></td>
        
        </tr>
        <tr>
          <td><h4>Day 8</h4></td>
          <td><h4> Bonjour  Montreal </h4></td>
        
        </tr>
       
      </table>
    
    
    </div>
    <a  href="/package/northamerica/checkavailability" target="_blank">
    <span class = "check"> Check Availability</span>
    </a>
    </div>